html {
  background-color: #E0F5F4;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

h1, h3 {
  width: 100%;
  font-weight: 100;
}

h3 {
  background-color: rgb(183, 219, 224);
}

body {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

pre {
  padding: 3px;
  background-color: white;
  width: auto;
  border: 1px solid;
}
